/** Add css rules here for your application. */

.ui-state-default{
vertical-align: middle!important;
border-left: 1px solid rgb(238, 238, 238)!important;
border-right: 1px solid rgb(208, 208, 208)!important;
-moz-user-focus: normal!important;
outline: 0px none!important;
cursor: default!important;
padding: 0px!important;
overflow: hidden!important;
rgb(249, 249, 249)!important;
background: rgb(249, 249, 249)!important;
height: auto!important;
}
.ui-icon-myextlink{
    /**background-image: url("#{resource['default/img/view_32.png']}") !important;*/
    /**padding: 1em 1em!important;*/
    /**border-radius: 30px 100px 3px 3px!important;*/
}

.ui-icon-btn{
    background-image: url("#{resource['default/img/view_24.png']}") !important;

    /*padding: 2em 1em 0.3em 2.1em!important;*/
    height: 56px!important;
    width: 100%!important;
    top: 40%!important;

}


.image-button{
    background: url("#{resource['default/img/view_24.png']}") no-repeat center!important;
    padding-left: 24px!important;
    height: 24px!important;
}

.ui-icon-button-text {
    padding: 3em 1em 0.3em 2.1em!important;
    margin:0 auto!important;
}

.ui-outputlabel{
    font-family: Times New Roman,sans-serif!important;
}

.ui-widget{
    font-family: Times New Roman,sans-serif!important;

}



.indHeadTitle {
    color: rgb(0, 128, 0)!important;
    font-size: medium!important;
    font-weight: bold!important;
    text-align: center!important;
    font-family: Times New Roman,sans-serif!important;
    line-height: 18px!important;

}

.line1
 {
    width: 100%;
    height: 6px;
    background-image: url("#{resource['default/img/line1.png']}");
    position: relative;
    float: left;
    top: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: rgb(51, 51, 51);
}

.indBodyTitle
 {

    background-repeat: no-repeat;
    background-position: right;
    width:100%;
    height:90px;
    margin-left:auto;
    margin-right:auto;
font-weight: bold;
text-align: justify;
font-family: Times New Roman,sans-serif!important;
font-size: 13px;
line-height: 18px;
}

.indInfNotTitle{

    font-size: medium!important;
    font-weight: bold!important;
    text-align: center!important;
    font-family: Times New Roman,sans-serif!important;
    line-height: 18px!important;

}

.indTblHead {
    text-align: justify;
    font-family: Times New Roman,sans-serif!important;
    font-size: 13px;
    line-height: 18px;
    color: rgb(51, 51, 51);
}


.ui-widget-content {
    text-align: center;
}

.ui-widget .ui-widget {
    font-size: 13px;
    font-family: Times New Roman,sans-serif!important;
    color: rgb(2, 126, 197);
}

.indPag {
    font-size: 13px!important;
    font-family: Times New Roman,sans-serif!important;
}
.indNin {
    text-align: left!important;
    font-family: Times New Roman,sans-serif!important;
    font-size: 13px!important;
}
.indTblBody {

    font-family: Times New Roman,sans-serif!important;
    font-size: 13px!important;
    line-height: 18px!important;


}

.indLastOD {
    font-weight: bold!important;
    font-family: Times New Roman,sans-serif!important;
    font-size: 15px!important;
    line-height: 18px!important;
}

.indTblBodyNum{
    text-align: right;
}

.indTblBodyEmit {
    text-align: left;!important;
    font-family: Times New Roman,sans-serif!important;
    font-size: 13px;
    line-height: 18px;


}

.indTBLBtn {
    border-radius: 30px 0px 0px 30px!important;
    vertical-align: top!important;
    margin-right: -1px!important;
    margin-left: -1px!important;
    display: inline-block!important;
    width: auto!important;
    height: 18px!important;
    min-width: 16px!important;
    padding: 25px 5px!important;
    font-size: 13px!important;
    font-weight: normal!important;
    line-height: 18px!important;
    text-align: center!important;
    text-shadow: 0px 1px 0px rgb(255, 255, 255)!important;
    background-color: rgb(238, 238, 238)!important;
    border: 1px solid rgb(204, 204, 204)!important;
    white-space: nowrap!important;
    font-family: Times New Roman,sans-serif!important;
    color: rgb(0, 153, 204)!important;
}

.headertisr {
    height: auto;
    max-width: 1400px;
    min-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.bodytisr {
    font-family: Times New Roman,sans-serif!important;
    font-size: 13px;
    line-height: 18px;
    color: rgb(51, 51, 51);
}
.logotisr {
    width: 463px;
    height: 110px;
    background-image: url("#{resource['default/img/logo2.jpg']}");
    position: relative;
    float: left;
}

.mantisr {
    width: 524px;
    height: 110px;
    background: url("#{resource['default/img/man2.jpg']}") no-repeat scroll right center transparent;
    position: relative;
    float: right;
}

.indTwoFrame {
    width: 924px!important;
    height: 210px!important;
    position: relative!important;
}

.ui-paginator {
    text-align: left!important;
}

.line1tisr {
    width: 100%;
    height: 6px;
    background-image: url("#{resource['default/img/line.jpg']}");
    position: relative;
    float: left;
    top: 0px;
}


.someCustomClass {width: 33.33%;}

.forty-percent {
    width: 40%;
}

.ui-dialog {
    height: 200px!important;
    width: 340px!important;
    /*resize: both!important;*/
    overflow: auto!important;
    /*position: relative!important; ;*/
    top: 20px!important;
    left: 900px!important;
    resize: both!important;

}

.ui-dialog-title {
    text-align: center!important;

    height: 15px!important;
    width: 320px!important;

    font-family: Times New Roman,sans-serif!important;
    font-size: 15px!important;
}


.ui-dialog-titlebar {
    padding: 1px 1px!important;
    position: relative;
    border: 0px none!important;
    height: 10px!important;
    width: 10px!important;
    text-align: left!important;
    background-color:white!important;

}

.ui-dialog-titlebar-close {
    position: relative!important;
    top: 1px!important;
    left: 310px!important;
    cursor: auto!important;
}

.resizableI {
    width: 310px!important;
    resize: both!important;
    overflow: auto!important;
}

.clock {
    overflow: hidden;
    position: absolute!important;
    top: 180px!important;
    left: 490px!important;
    zoom: 0.71!important;
    -moz-transform: scale(0.30)!important;
    -moz-transform-origin: 0 0!important;
    -o-transform: scale(0.30)!important;
    -o-transform-origin: 0 0!important;
    -webkit-transform: scale(0.30)!important;
    -webkit-transform-origin: 0 0!important;
    width: 610px!important;
    height: 610px!important;

}

.ui-datepicker{
    left: 415.2px!important;
    top: 180px!important;
}

.ui-datepicker-month{
    font-family: Times New Roman,sans-serif!important;
    font-size: 15px!important;
}

.ui-datepicker-year{
    font-family: Times New Roman,sans-serif!important;
    font-size: 15px!important;
}

.ui-slider .ui-slider-handle {
    position: absolute!important;
    z-index: 2!important;
    width: 1.2em!important;
    height: 1.2em!important;
    cursor: default!important;
    background: -moz-linear-gradient(rgba(81, 255, 64, 0.8), rgba(255, 255, 255, 0))
    repeat scroll 0% 0% rgb(133, 178, 203)!important;
}
.ui-timepicker-div{
    font-family: Times New Roman,sans-serif!important;
    font-size: 15px!important;

}

.indOD
{


    font-weight: bold!important;
    text-align: justify!important;
    font-family: Times New Roman,sans-serif!important;
    font-size: 13px!important;


}

.indFrmOD
{


    font-weight: bold!important;
    text-align: justify!important;
    font-family: Times New Roman,sans-serif!important;
    font-size: 13px!important;
    allowtransparency:true!important;
    background:transparent!important;


}