.indLblOr{
    /*width: 190px!important;*/
    position: absolute!important;
    font-weight: bold!important;
    font-size: 15px!important;
    top: 210px!important; /* Положение от нижнего края */
    /*right: 15px;*/ /* Положение от правого края */
    left: 550px;
    /*float: right!important;*/

}

.indBodyTitleOD2
{

    height:90px!important;
    font-weight: bold!important;
    text-align: justify!important;
    font-family: Times New Roman,sans-serif!important;
    font-size: 13px;
    line-height: 18px;


}

.indLabOD21 {
    /*width: 150px!important;*/

    position: absolute!important;

    width: 50px!important;
    top: 215px!important; /* Положение от нижнего края */
    left: 30px!important;
    /*left: 500px!important;*/

}

.indLabOD22 {
    /*width: 150px!important;*/

    position: absolute!important;

    width: 50px!important;
    top: 215px!important; /* Положение от нижнего края */
    /*right: 15px!important;*/ /* Положение от правого края */
    left: 270px!important;

}

.indCalOD21 {
    /*width: 150px!important;*/

    position: absolute!important;

    /*width: 50px!important;*/
    top: 206px!important; /* Положение от нижнего края */
    left: 50px!important;
    /*left: 500px!important;*/

}

.indCalOD22 {
    /*width: 150px!important;*/

    position: absolute!important;

    /*width: 50px!important;*/
    top: 206px!important; /* Положение от нижнего края */
    /*right: 15px!important;*/ /* Положение от правого края */
    left: 290px!important;

}

.indButnOD2 {
    width: 190px!important;
    position: relative!important;

    /*bottom: 10px; *//* Положение от нижнего края */
    /*right: 15px;*/ /* Положение от правого края */
    left: 260px;
    top:12px;
    /*float: right!important;*/
}

.indInfNotTitle{

    font-size: medium!important;
    font-weight: bold!important;
    text-align: center!important;
    font-family: Times New Roman,sans-serif!important;
    line-height: 18px!important;

}

.indInfPeriod{
    position: absolute!important;
    left: 500px!important;
    top: 320px;
}

.indCnt{
    margin-top: 2px!important;
}