/** Add css rules here for your application. */

.ui-state-default{
vertical-align: middle!important;
border-left: 1px solid rgb(238, 238, 238)!important;
border-right: 1px solid rgb(208, 208, 208)!important;
-moz-user-focus: normal!important;
outline: 0px none!important;
cursor: default!important;
padding: 0px!important;
overflow: hidden!important;
rgb(249, 249, 249)!important;
background: rgb(249, 249, 249)!important;
height: auto!important;
}
.ui-icon-myextlink{
    /**background-image: url("#{resource['default/img/view_32.png']}") !important;*/
    /**padding: 1em 1em!important;*/
    /**border-radius: 30px 100px 3px 3px!important;*/
}

.ui-icon-btn{
    background-image: url("#{resource['default/img/view_24.png']}") !important;

    /*padding: 2em 1em 0.3em 2.1em!important;*/
    height: 56px!important;
    width: 100%!important;
    top: 40%!important;

}


.image-button{
    background: url("#{resource['default/img/view_24.png']}") no-repeat center!important;
    padding-left: 24px!important;
    height: 24px!important;
}

.ui-icon-button-text {
    padding: 3em 1em 0.3em 2.1em!important;
    margin:0 auto!important;
}

.ui-outputlabel{
    font-family: Times New Roman,sans-serif!important;
}

.ui-widget{
    font-family: Times New Roman,sans-serif!important;

}



.indHeadTitle {
    color: rgb(0, 128, 0)!important;
    font-size: medium!important;
    font-weight: bold!important;
    text-align: center!important;
    font-family: Times New Roman,sans-serif!important;
    line-height: 18px!important;

}

.line1
 {
    width: 100%;
    height: 6px;
    background-image: url("#{resource['default/img/line1.png']}");
    position: relative;
    float: left;
    top: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: rgb(51, 51, 51);
}

.indBodyTitle
 {

    background-repeat: no-repeat;
    background-position: right;
    width:100%;
    height:90px;
    margin-left:auto;
    margin-right:auto;
font-weight: bold;
text-align: justify;
font-family: Times New Roman,sans-serif!important;
font-size: 13px;
line-height: 18px;
}

.indInfNotTitle{

    font-size: medium!important;
    font-weight: bold!important;
    text-align: center!important;
    font-family: Times New Roman,sans-serif!important;
    line-height: 18px!important;

}

.indTblHead {
    text-align: justify;
    font-family: Times New Roman,sans-serif!important;
    font-size: 13px;
    line-height: 18px;
    color: rgb(51, 51, 51);
}


.ui-widget-content {
    text-align: left;
}

.ui-widget {
    font-size: 13px;
    font-family: Times New Roman,sans-serif!important;
    height: 300px!important;
    width: 300px!important;
    resize: both!important;
    overflow: auto!important;
}

.indNin {
    text-align: left!important;
    font-family: Times New Roman,sans-serif!important;
}
.indTblBody {

    font-family: Times New Roman,sans-serif!important;
    font-size: 13px;
    line-height: 18px;


}

.indTblBodyNum{
    text-align: right;
}

.indTblBodyEmit {
    text-align: left;!important;
    font-family: Times New Roman,sans-serif!important;
    font-size: 13px;
    line-height: 18px;


}

.indTBLBtn {
    border-radius: 30px 0px 0px 30px!important;
    vertical-align: top!important;
    margin-right: -1px!important;
    margin-left: -1px!important;
    display: inline-block!important;
    width: auto!important;
    height: 18px!important;
    min-width: 16px!important;
    padding: 25px 5px!important;
    font-size: 13px!important;
    font-weight: normal!important;
    line-height: 18px!important;
    text-align: center!important;
    text-shadow: 0px 1px 0px rgb(255, 255, 255)!important;
    background-color: rgb(238, 238, 238)!important;
    border: 1px solid rgb(204, 204, 204)!important;
    white-space: nowrap!important;
    font-family: Times New Roman,sans-serif!important;
    color: rgb(0, 153, 204)!important;
}

.headertisr {
    height: auto;
    max-width: 1400px;
    min-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.bodytisr {
    font-family: Times New Roman,sans-serif!important;
    font-size: 13px;
    line-height: 18px;
    color: rgb(51, 51, 51);
}
.logotisr {
    width: 463px;
    height: 110px;
    background-image: url("#{resource['default/img/logo2.jpg']}");
    position: relative;
    float: left;
}

.mantisr {
    width: 524px;
    height: 110px;
    background: url("#{resource['default/img/man2.jpg']}") no-repeat scroll right center transparent;
    position: relative;
    float: right;
}

.line1tisr {
    width: 100%;
    height: 6px;
    background-image: url("#{resource['default/img/line.jpg']}");
    position: relative;
    float: left;
    top: 0px;
}
.resizableI {
    height: 300px!important;
    width: 300px!important;
    resize: both!important;
    overflow: auto!important;
}

/*.ui-dialog {
    height: 300px!important;
    width: 300px!important;
    resize: both!important;
    overflow: auto!important;
}*/

.ui-dialog .ui-widget .ui-widget-content .ui-corner-all .ui-shadow .ui-hidden-container .ui-overlay-visible{
    height: 300px!important;
    width: 300px!important;
    resize: both!important;
    overflow: auto!important;
}

